$mobile-width: 375px;
$desktop-width: 1440px;
$clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
$clr-desaturated-dark-blue: hsl(214, 17%, 51%);
$clr-grayish-blue: hsl(212, 23%, 69%);
$clr-light-grayish-blue: hsl(210, 46%, 95%);
$clr-white: hsl(0, 0%, 100%);
$paragraph-size: 13px;
$medium-weight: 500;
$bold-weight: 700;