@import "globals";
@import "variables";

body {
    padding: 4rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: $clr-light-grayish-blue;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 1px);
    
    .container {
        display: flex;
        flex-direction: column;
        background-color: $clr-white;
        border-radius: 1rem;
        box-shadow: 0 1rem 2rem .5rem #dedede;
        max-width: 320px;
        position: relative;

        img {
            border-radius: 1rem 1rem 0 0;
        }

        .article {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1.5rem 2.5rem;
            
            .article-title {
                font-size: 1.25rem;
                font-weight: $bold-weight;
                color: $clr-very-dark-grayish-blue;
            }

            .article-content {
                color: $clr-desaturated-dark-blue;
                font-weight: $medium-weight;
                margin-bottom: 2rem;
                line-height: 1.5rem;
                font-size: 1.01rem;
            }

            .user {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;

                .user-profile {
                    display: flex;
                    gap: 1.5rem;

                    .user-img {
                        max-width: 3rem;
                        border-radius: 50%;
                    }

                    .user-details {
                        display: flex;
                        flex-direction: column;
                        .user-name {
                            font-weight: $bold-weight;
                            color: $clr-very-dark-grayish-blue;
                        }

                        .post-date {
                            color: $clr-desaturated-dark-blue;
                            font-weight: $medium-weight;
                        }
                    }
                }

                .unclicked {
                    background-color: $clr-light-grayish-blue;                    
                }

                .share-button {
                    border-radius: 50%;
                    padding: 0.65rem;
                    
                    svg {
                        width: 1.2rem;
                    }
                }
            }

            .popup {
                background-color: $clr-very-dark-grayish-blue;
                display: flex;
                opacity: 0;
                padding: 1.5rem 2.5rem;
                position: absolute;
                width: 100%;
                border-radius: 0 0 1rem 1rem;
                left: 0;
                bottom: 0;
                justify-content: space-between;
                align-items: center;

                img {
                    width: 1.2rem;
                }

                .links {
                    display: flex;
                    justify-content: space-between;
                    gap: 1.5rem;

                    span {
                        letter-spacing: .4rem;
                        color: $clr-desaturated-dark-blue;
                    }

                    img {
                        width: 1.6rem;
                    }
                }

                .clicked {
                    background-color: $clr-desaturated-dark-blue;

                    svg {
                        path {
                            fill: white;    
                        }
                    }
                }
            }
        }
    }

    footer {
        display: none;
    }
}

@media screen and (min-width: 745px) {
    body {
        padding: 10rem 10rem;

        .container {
            display: flex;
            flex-direction: row;
            width: 800px;
            height: 300px;
            max-width: none;

            img {
                border-radius: 1rem 0 0 1rem;
                width: 40%;
                object-fit: cover;
                object-position: left;
            }

            .article {
                padding: 3rem;   
                
                .article-title {
                    font-size: 1.6rem;
                }

                .user {
                    a:hover {
                        background-color: $clr-very-dark-grayish-blue;
                        cursor: pointer;
                    }

                    .popup {
                        width: 250px;
                        height: 2rem;
                        bottom: 30%;
                        left: 77.5%;
                        padding: 2rem 2.5rem;
                        place-content: center;
                        border-radius: 1rem;

                        .share-button {
                            display: none;
                        }
                    }

                    .popup::after {
                        content: '';
                        width: 0;
                        height: 0;
                        border-color: $clr-very-dark-grayish-blue transparent transparent transparent;
                        border-width: 10px;
                        border-style: solid;
                        position: absolute;
                        top: 50px;
                    }
                }
            }
        }
        
        footer {
            display: block;
        }
    }
}

.slide-top {
    animation: slide-top 0.3s cubic-bezier(0.5, 0.8, 0.5, 0.8) both;
}

@keyframes slide-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-bottom {
    animation: slide-bottom 0.3s cubic-bezier(0.5, 0.8, 0.5, 0.8) both;
}

@keyframes slide-bottom {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(200%);
        opacity: 0;
    }
}